.has-error .help-block,.has-success .help-block,.has-warning .help-block
{
    display:block;
    border:1px solid;
    padding:5px 10px;
    border-radius:2px;
    margin-top:2px;
    position:relative
}
.has-error .help-block:after,.has-error .help-block:before,.has-success .help-block:after,.has-success .help-block:before,.has-warning .help-block:after,.has-warning .help-block:before
{
    content:"";
    position:absolute;
    border-left:6px solid transparent;
    border-right:6px solid transparent
}
.has-error .help-block:before,.has-success .help-block:before,.has-warning .help-block:before
{
    border-bottom:solid;
    border-width:7px;
    left:16px;
    top:-7px
}
.has-error .help-block:after,.has-success .help-block:after,.has-warning .help-block:after
{
    border-bottom:6px solid;
    left:17px;
    top:-6px
}
.has-error.simple .help-block,.has-success.simple .help-block,.has-warning.simple .help-block
{
    background:none!important;
    border:none;
    padding:3px 0
}
.has-error.simple .help-block:after,.has-error.simple .help-block:before,.has-success.simple .help-block:after,.has-success.simple .help-block:before,.has-warning.simple .help-block:after,.has-warning.simple .help-block:before
{
    display:none
}
.has-feedback:not(.form-group)
{
    position:relative
}
.has-feedback:not(.form-group) .form-control-feedback
{
    top:0
}
.has-warning .control-label
{
    color:#555
}
.has-warning .help-block
{
    background:#f9f1c7;
    border-color:#f6deac;
    color:#af8640;
    background-size:20px 20px
}
.has-warning .help-block:before
{
    border-bottom-color:#f1cc7e
}
.has-warning .help-block:after
{
    border-bottom-color:#f9f2cc
}
.has-warning .form-control
{
    border-color:#eebf5e;
    -webkit-box-shadow:none;
    box-shadow:none
}
.has-warning .form-control.focus,.has-warning .form-control:focus
{
    border-color:#e9ad30!important;
    -webkit-box-shadow:none;
    box-shadow:none
}
.has-warning .input-group-addon
{
    color:#af8640;
    border-color:#f6deac;
    background-color:#f9f1c7
}
.has-warning .form-control-feedback
{
    color:#e9ad30
}
.has-error .control-label
{
    color:#555
}
.has-error .help-block
{
    background:#f2dede;
    border-color:#ebccd1;
    color:#b94a48;
    background-size:20px 20px
}
.has-error .help-block:before
{
    border-bottom-color:#dda7b0
}
.has-error .help-block:after
{
    border-bottom-color:#f3e2e2
}
.has-error .form-control
{
    border-color:#d38e99;
    -webkit-box-shadow:none;
    box-shadow:none
}
.has-error .form-control.focus,.has-error .form-control:focus
{
    border-color:#c46978!important;
    -webkit-box-shadow:none;
    box-shadow:none
}
.has-error .input-group-addon
{
    color:#b94a48;
    border-color:#ebccd1;
    background-color:#f2dede
}
.has-error .form-control-feedback
{
    color:#c46978
}
.has-success .control-label
{
    color:#555
}
.has-success .help-block
{
    background:#dff0d8;
    border-color:#d0e6be;
    color:#468847;
    background-size:20px 20px
}
.has-success .help-block:before
{
    border-bottom-color:#b5d899
}
.has-success .help-block:after
{
    border-bottom-color:#e2f1dc
}
.has-success .form-control
{
    border-color:#a3ce7f;
    -webkit-box-shadow:none;
    box-shadow:none
}
.has-success .form-control.focus,.has-success .form-control:focus
{
    border-color:#88c05b!important;
    -webkit-box-shadow:none;
    box-shadow:none
}
.has-success .input-group-addon
{
    color:#468847;
    border-color:#d0e6be;
    background-color:#dff0d8
}
.has-success .form-control-feedback
{
    color:#88c05b
}
.has-warning.dark .control-label
{
    color:#555
}
.has-warning.dark .help-block
{
    border-color:#f19a1f;
    color:#fff
}
.has-warning.dark .help-block:before
{
    border-bottom-color:#d0800d
}
.has-warning.dark .help-block:after
{
    border-bottom-color:#f4b254
}
.has-warning.dark .form-control
{
    border-color:#f4b04f;
    -webkit-box-shadow:none;
    box-shadow:none
}
.has-warning.dark .form-control.focus,.has-warning.dark .form-control:focus
{
    border-color:#f19a1f!important;
    -webkit-box-shadow:none;
    box-shadow:none
}
.has-warning.dark .input-group-addon
{
    color:#fff;
    border-color:#f19a1f;
    background-color:#f4b04f
}
.has-warning.dark .form-control-feedback
{
    color:#f19a1f
}
.has-warning.dark .help-block
{
    background:#f4b04f;
    background-image:-webkit-gradient(linear,0 100%,100% 0,color-stop(0.25,rgba(255,255,255,.06)),color-stop(0.25,transparent),color-stop(0.5,transparent),color-stop(0.5,rgba(255,255,255,.06)),color-stop(0.75,rgba(255,255,255,.06)),color-stop(0.75,transparent),to(transparent));
    background-image:-webkit-linear-gradient(45deg,rgba(255,255,255,.06)25%,transparent 25%,transparent 50%,rgba(255,255,255,.06)50%,rgba(255,255,255,.06)75%,transparent 75%,transparent);
    background-image:-moz-linear-gradient(45deg,rgba(255,255,255,.06)25%,transparent 25%,transparent 50%,rgba(255,255,255,.06)50%,rgba(255,255,255,.06)75%,transparent 75%,transparent);
    background-image:linear-gradient(45deg,rgba(255,255,255,.06)25%,transparent 25%,transparent 50%,rgba(255,255,255,.06)50%,rgba(255,255,255,.06)75%,transparent 75%,transparent);
    background-size:20px 20px
}
.has-error.dark .control-label
{
    color:#555
}
.has-error.dark .help-block
{
    border-color:#df3c28;
    color:#fff
}
.has-error.dark .help-block:before
{
    border-bottom-color:#b92c1b
}
.has-error.dark .help-block:after
{
    border-bottom-color:#e76858
}
.has-error.dark .form-control
{
    border-color:#e66454;
    -webkit-box-shadow:none;
    box-shadow:none
}
.has-error.dark .form-control.focus,.has-error.dark .form-control:focus
{
    border-color:#df3c28!important;
    -webkit-box-shadow:none;
    box-shadow:none
}
.has-error.dark .input-group-addon
{
    color:#fff;
    border-color:#df3c28;
    background-color:#e66454
}
.has-error.dark .form-control-feedback
{
    color:#df3c28
}
.has-error.dark .help-block
{
    background:#e66454;
    background-image:-webkit-gradient(linear,0 100%,100% 0,color-stop(0.25,rgba(255,255,255,.04)),color-stop(0.25,transparent),color-stop(0.5,transparent),color-stop(0.5,rgba(255,255,255,.04)),color-stop(0.75,rgba(255,255,255,.04)),color-stop(0.75,transparent),to(transparent));
    background-image:-webkit-linear-gradient(45deg,rgba(255,255,255,.04)25%,transparent 25%,transparent 50%,rgba(255,255,255,.04)50%,rgba(255,255,255,.04)75%,transparent 75%,transparent);
    background-image:-moz-linear-gradient(45deg,rgba(255,255,255,.04)25%,transparent 25%,transparent 50%,rgba(255,255,255,.04)50%,rgba(255,255,255,.04)75%,transparent 75%,transparent);
    background-image:linear-gradient(45deg,rgba(255,255,255,.04)25%,transparent 25%,transparent 50%,rgba(255,255,255,.04)50%,rgba(255,255,255,.04)75%,transparent 75%,transparent);
    background-size:20px 20px
}
.has-success.dark .control-label
{
    color:#555
}
.has-success.dark .help-block
{
    border-color:#43a543;
    color:#fff
}
.has-success.dark .help-block:before
{
    border-bottom-color:#358035
}
.has-success.dark .help-block:after
{
    border-bottom-color:#62be62
}
.has-success.dark .form-control
{
    border-color:#5ebd5e;
    -webkit-box-shadow:none;
    box-shadow:none
}
.has-success.dark .form-control.focus,.has-success.dark .form-control:focus
{
    border-color:#43a543!important;
    -webkit-box-shadow:none;
    box-shadow:none
}
.has-success.dark .input-group-addon
{
    color:#fff;
    border-color:#43a543;
    background-color:#5ebd5e
}
.has-success.dark .form-control-feedback
{
    color:#43a543
}
.has-success.dark .help-block
{
    background:#5ebd5e;
    background-image:-webkit-gradient(linear,0 100%,100% 0,color-stop(0.25,rgba(255,255,255,.06)),color-stop(0.25,transparent),color-stop(0.5,transparent),color-stop(0.5,rgba(255,255,255,.06)),color-stop(0.75,rgba(255,255,255,.06)),color-stop(0.75,transparent),to(transparent));
    background-image:-webkit-linear-gradient(45deg,rgba(255,255,255,.06)25%,transparent 25%,transparent 50%,rgba(255,255,255,.06)50%,rgba(255,255,255,.06)75%,transparent 75%,transparent);
    background-image:-moz-linear-gradient(45deg,rgba(255,255,255,.06)25%,transparent 25%,transparent 50%,rgba(255,255,255,.06)50%,rgba(255,255,255,.06)75%,transparent 75%,transparent);
    background-image:linear-gradient(45deg,rgba(255,255,255,.06)25%,transparent 25%,transparent 50%,rgba(255,255,255,.06)50%,rgba(255,255,255,.06)75%,transparent 75%,transparent);
    background-size:20px 20px
}
.has-warning.simple .help-block
{
    color:#f29f29!important
}
.has-error.simple .help-block
{
    color:#e14430!important
}
.has-success.simple .help-block
{
    color:#46ac46!important
}